extends layout

block content

  main(class="h-5/6 flex justify-center mt-16")
    div(class="container-div w-full md:w-3/5 flex justify-center items-center mt-6")
      div(class="img-div max-h-4/5 w-7/12 flex justify-center")
        img(class="h-auto w-5/6 drop-shadow", src=product.image)
      div(class="product-info w-5/12 flex flex-col items-center")
        h1(class="text-2xl text-center") #{product.name}
        div $!{product.price}
        p Brand: 
          a.text-blue-600.underline(href=product.brand.url) #{product.brand.name}
        a(class="bg-green-600 h-12 w-5/6 mt-4 mx-auto flex items-center justify-center text-center", href="/addToCart/"+product._id)
            div(class="m-auto") Add to Cart
        if (fail_message)
          div(class="bg-sky-500 h-20 md:h-16 w-5/6 mt-4 mx-auto flex items-center justify-center text-center")
            div(class="m-auto text-rose-700") 
              p #{fail_message}
        else 
          a(class="bg-sky-500 h-12 w-5/6 mt-4 mx-auto flex items-center justify-center text-center", href=product.url+'/delete')
            div(class="m-auto") Delete Product


            
