extends layout

block content

  main(class="min-h-screen w-full mt-4 flex flex-col items-center overflow-y-visible")
    h4(class="text-2xl font-bold mt-4")= title
    if (sport_list.length)
        ul(class="md:w-11/12 md:h-[80rem] flex flex-col justify-center md:flex-row md:flex-wrap md:content-start mb-8 overflow-x-hidden")
          each sport in sport_list
              div(class="max-w-full md:w-5/12 max-h-36 md:max-h-72 md:h-60 flex justify-center items-center shadow-xl md:border-4 rounded-lg border-cyan-400 my-4 mx-2")
                a(class="sports-image w-7/12 flex justify-center p-3", href=sport.url)
                  img(class="h-auto w-5/6 drop-shadow rounded-md", src=sport.image)
                div(class="w-5/12 flex flex-col items-center")
                  a(class="text-2xl text-center", href=sport.url) #{sport.name}
    else
      p This store is all out of sport.
        